<div class='sidebar'>
  <div id="docsMenu" class="docsAccordionMenu">
    <ul>
      <li class=active><a href="/docs/introduction">Introduction</a></li>
      <li ><a href="/docs/overview_of_payment_processing">Overview of Payment Processing</a></li>
      <li ><a href="/docs/creating_a_new_gateway">Creating a New Gateway</a></li>
      <li ><span class='folder'>API<i class='fa faAngleDown'></i></span>
        <ul>
          <li><a href="/docs/api/signed_request">Signed Request</a></li>
          <li ><a href="/docs/api/creating_orders">Creating Orders</a></li>
          <li ><a href="/docs/api/receiving_order_status_change_callback">Receiving Order Status Change Callback</a></li>
          <li ><a href="/docs/api/checking_order_status_manually">Checking Order Status Manually</a></li>
          <li ><a href="/docs/api/order_websocket">Order Websocket</a></li><li ><a href="/docs/api/order_cancellation">Order Cancellation</a></li>
          <li ><a href="/docs/api/receiving_last_keychain_id_for_gateway">Receiving Last Keychain ID for Gateway</a></li>
        </ul>
      </li>
      <li >
        <span class='folder'>Developer API<i class='fa faAngleDown'></i></span>
        <ul>
          <li ><a href="/docs/developers_api/basic">Basic</a></li>
          <li ><a href="/docs/developers_api/gateways">Gateways</a></li>
          <li ><span class='folder'>Address Providers<i class='fa faAngleDown'></i></span>
          <ul>
            <li ><a href="/docs/developers_api/addressproviders/list">list</a></li>
            <li ><span class='folder'>Cashila<i class='fa faAngleDown'></i></span>
              <ul>
                <li ><a href="/docs/developers_api/addressproviders/cashila/login">login</a></li>
                <li ><a href="/docs/developers_api/addressproviders/cashila/withdraw">withdraw</a></li>
                <li ><span class='folder'>Legal Entity<i class='fa faAngleDown'></i></span>
                  <ul>
                    <li ><a href="/docs/developers_api/addressproviders/cashila/legalentity/create_legalentity">create</a></li>
                    <li ><a href="/docs/developers_api/addressproviders/cashila/legalentity/get">get</a></li>
                    <li ><a href="/docs/developers_api/addressproviders/cashila/legalentity/update_legalentity">update</a></li>
                  </ul>
                </li>
                <li><span class='folder'>Individual Entity<i class='fa faAngleDown'></i></span>
                  <ul>
                    <li ><a href="/docs/developers_api/addressproviders/cashila/individualentity/create_individualentity">create</a></li>
                    <li ><a href="/docs/developers_api/addressproviders/cashila/individualentity/get">get</a></li>
                    <li ><a href="/docs/developers_api/addressproviders/cashila/individualentity/update_individualentity">update</a></li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
     </li>
    </ul>
  </div>
</div>