<div class="export"><%= t('export_to')%> 
	<% %w(xlsx json xml).each do |export_format| %>
		<a href="<%= eval("admin_#{export_obj}_path(params: params, :format => export_format.to_sym)") %>"><%= "#{export_format.upcase}" %></a> |
	<% end %>
</div>

