<footer class='dark loaderReveal loaderRevealDelay1000 loaderRevealSpeed600'>
	<div class='copyright'>Skyluster Admin is a product of Skyluster &copy; 2016</div>
	<nav class='social contain light inline'>
		<ul>
<!-- 			<li>
				<a href='https://telegram.me/MyceliumSkyluster' target='_blank'>
					<div class='icon-telegram'></div>
				</a>
			</li>
			<li>
				<a href='https://twitter.com/myceliumgear' target='_blank'>
					<div class='icon-twitter'></div>
				</a>
			</li>
			<li>
				<a href='https://mycelium-gear.slack.com/' target='_blank'>
					<div class='icon-slack'></div>
				</a>
			</li> -->
		</ul>
	</nav>
</footer>