<div class="leftSidebar" style="height: 987px;">
  <div class="background"></div>
  <div class="container">
    <div class="logo"><a href="/"><img src="https://dwsv3vn9of50v.cloudfront.net/assets/mycelium_gear_logo_white-2f97d94d480a2eeeaaf4df6dd5e45d19cd673c6b08821ad3f93592a25073cc55.svg" alt="Mycelium gear logo white 2f97d94d480a2eeeaaf4df6dd5e45d19cd673c6b08821ad3f93592a25073cc55"></a></div>
    <menu>
      <ul class="menu">
<!--         <li class="current">
          <a href="/gateways?widget=1">WIDGETS</a>
          <div class="linkIcon"><span class="icon-widgets"></span></div>
        </li> -->
        <li>
          <a href="<%= admin_orders_path %>">ORDERS</a>
          <div class="linkIcon"><span class="icon-orders"></span></div>
        </li>
        <li>
          <a href="/gateways">GATEWAYS</a>
          <div class="linkIcon"><span class="icon-gateways"></span></div>
        </li>
<!--         <li>
          <a href="/fiat_payouts">FIAT PAYOUTS</a>
          <div class="linkIcon"><span class="icon-fiat_payouts"></span></div>
        </li> -->
<!--         <li>
          <a href="/joint-escrow">JOINT ESCROW</a>
          <div class="linkIcon"><span class="icon-joint_escrow"></span></div>
        </li> -->
        <li>
          <a href="/users/edit">ACCOUNT</a>
          <div class="linkIcon"><span class="icon-account"></span></div>
        </li>
        <li>
          <a href="/docs">DOCUMENTATION</a>
          <div class="linkIcon"><span class="icon-documentation"></span></div>
        </li>
<!--         <li>
          <a href="/updates">UPDATES</a>
          <div class="linkIcon"><span class="icon-updates"></span></div>
        </li> -->
      </ul>
    </menu>
    <div class="container lang"></div>
  </div>
</div>