<div class="topBar">
  <ul class="links">
    <li>
      <%= t('support') %>
        <a href="mailto:skyluster.support@nn.com" title="">skyluster.support@nn.com</a>
    </li>
    <% if user_signed_in? %>
      <li>
        <b class="topMenuLink">
          <a href="/users/sign_out" data-method="DELETE"><span class="label">
            <%= t('sign_out') %>
          </span>
          <span class="icon-logout"></span>
        </a></b>
      </li>
    <% end %>
  </ul>
</div>