<div class='pure-u-1-1'>
<p>With Gear&#39;s developer API, it is possible to create, update or get a list (or one) of gateways. </p>

<h2>Create gateway</h2>

<p>To create a gateway, you need to make a <strong>POST</strong> request to <code>/api/gateways</code> with the following body:</p>

<p>Required fields:</p>

<ul>
<li><em>name</em>.<br>
Name of your gateway</li>
<li><em>pubkey</em>.<br>
Public key (xpub) exported from the wallet to which you will receive Bitcoins</li>
<li><em>confirmations_required</em>.<br>
Number of required confirmations to consider transaction successful</li>
<li><em>orders_expiration_period</em>.<br>
How long the order will be waiting for a payment (in milliseconds). Should be between 0 and 1800</li>
<li><em>default_currency</em>.<br>
Default currency to display order amounts in</li>
</ul>

<p>Optional fields:</p>

<ul>
<li><em>active</em>.<br>
If a gateway is active (can generate new orders). Default: <em>true</em></li>
<li><em>address_derivation_scheme</em>.<br>
How we derive each new address from the provided xpub (see BIP32 documentation)</li>
<li><em>callback_url</em>.<br>
A callback url is where our server will report all order status changes by performing a callback request</li>
<li><em>after_payment_redirect_to</em>.<br>
Is a URL to which users are redirected after they made a payment</li>
<li><em>auto_redirect</em>.<br>
Automatically redirect user after payment. Boolean. Default: <em>false</em></li>
<li><em>test_pubkey</em>.<br>
Testnet public key. Used if <em>test_mode</em> is enabled</li>
<li><em>test_mode</em>.<br>
Activate or deactivate testnet mode. Default: <em>false</em></li>
<li><em>convert_currency_to</em>.<br>
Convert given amount in to specific currency. Possible: &quot;BTC&quot;, &quot;USD&quot;, &quot;EUR&quot;. Default: <em>&quot;BTC&quot;</em></li>
<li><em>exchange_rate_adapter_names</em>.<br>
Where we get exchange rates. Array. Default: <em>[&quot;Bitstamp&quot;, &quot;Btce&quot;, &quot;Kraken&quot;]</em></li>
<li><em>receive_payments_notifications</em>.<br>
Send notifications about new payments to client email. Boolean. Default: <em>false</em></li>
<li><em>locale</em>.<br>
Locale for all messages. Only english aviable on the current moment.</li>
<li><em>allow_links</em>.</li>
<li><em>back_url</em>.
Is a URL to which users are taken if they click Cancel in the payment screen.</li>
<li><em>description</em>.</li>
<li><em>merchant_url</em>.</li>
<li><em>city</em>.</li>
<li><em>region</em>.</li>
<li><em>country</em>.</li>
</ul>

<p>Example:</p>
<div class="highlight"><pre><span class="p">{</span>
  <span class="nt">&quot;data&quot;</span><span class="p">:</span> <span class="p">{</span>
    <span class="nt">&quot;type&quot;</span><span class="p">:</span> <span class="s2">&quot;gateways&quot;</span><span class="p">,</span>
    <span class="nt">&quot;attributes&quot;</span><span class="p">:</span> <span class="p">{</span>
      <span class="nt">&quot;name&quot;</span><span class="p">:</span> <span class="s2">&quot;Main Shop&quot;</span><span class="p">,</span> 
      <span class="nt">&quot;pubkey&quot;</span><span class="p">:</span> <span class="s2">&quot;xpub661MyMwAqRbcEwQNZ9JUoEvoFmv3qi4u2TUJvjmJLUgEb6cUjDvxPk2vkpWAyiKVXwBrHfai7hf6G5aMEKiyZ8uwKgP7tmtdzCsh3CsNeqh&quot;</span><span class="p">,</span>
      <span class="nt">&quot;confirmations_required&quot;</span><span class="p">:</span> <span class="s2">&quot;0&quot;</span><span class="p">,</span>
      <span class="nt">&quot;orders_expiration_period&quot;</span><span class="p">:</span> <span class="mi">1000</span><span class="p">,</span>
      <span class="nt">&quot;default_currency&quot;</span><span class="p">:</span> <span class="s2">&quot;USD&quot;</span>
     <span class="p">}</span>
   <span class="p">}</span>
<span class="p">}</span>
</pre></div>
<p>A response to this request should be the following object:</p>
<div class="highlight"><pre><span class="p">{</span>
  <span class="nt">&quot;data&quot;</span><span class="p">:</span> <span class="p">{</span>
    <span class="nt">&quot;id&quot;</span><span class="p">:</span> <span class="s2">&quot;56&quot;</span><span class="p">,</span>
    <span class="nt">&quot;type&quot;</span><span class="p">:</span> <span class="s2">&quot;gateways&quot;</span><span class="p">,</span>
    <span class="nt">&quot;attributes&quot;</span><span class="p">:</span> <span class="p">{</span>
      <span class="nt">&quot;name&quot;</span><span class="p">:</span> <span class="s2">&quot;Main Shop&quot;</span><span class="p">,</span>
      <span class="nt">&quot;confirmations-required&quot;</span><span class="p">:</span> <span class="mi">0</span><span class="p">,</span>
      <span class="nt">&quot;orders-expiration-period&quot;</span><span class="p">:</span> <span class="mi">1000</span><span class="p">,</span>
      <span class="nt">&quot;default-currency&quot;</span><span class="p">:</span> <span class="s2">&quot;USD&quot;</span><span class="p">,</span>
      <span class="nt">&quot;pubkey&quot;</span><span class="p">:</span> <span class="s2">&quot;xpub661MyMwAqRbcEwQNZ9JUoEvoFmv3qi4u2TUJvjmJLUgEb6cUjDvxPk2vkpWAyiKVXwBrHfai7hf6G5aMEKiyZ8uwKgP7tmtdzCsh3CsNeqh&quot;</span><span class="p">,</span>
      <span class="nt">&quot;active&quot;</span><span class="p">:</span> <span class="kc">true</span><span class="p">,</span>
      <span class="nt">&quot;address-derivation-scheme&quot;</span><span class="p">:</span> <span class="s2">&quot;m/0/n&quot;</span><span class="p">,</span>
      <span class="nt">&quot;callback-url&quot;</span><span class="p">:</span> <span class="kc">null</span><span class="p">,</span>
      <span class="nt">&quot;after-payment-redirect-to&quot;</span><span class="p">:</span> <span class="kc">null</span><span class="p">,</span>
      <span class="nt">&quot;auto-redirect&quot;</span><span class="p">:</span> <span class="kc">false</span><span class="p">,</span>
      <span class="nt">&quot;city&quot;</span><span class="p">:</span> <span class="kc">null</span><span class="p">,</span>
      <span class="nt">&quot;test-pubkey&quot;</span><span class="p">:</span> <span class="kc">null</span><span class="p">,</span>
      <span class="nt">&quot;test-mode&quot;</span><span class="p">:</span> <span class="kc">false</span><span class="p">,</span>
      <span class="nt">&quot;convert-currency-to&quot;</span><span class="p">:</span> <span class="s2">&quot;BTC&quot;</span><span class="p">,</span>
      <span class="nt">&quot;country&quot;</span><span class="p">:</span> <span class="kc">null</span><span class="p">,</span>
      <span class="nt">&quot;exchange-rate-adapter-names&quot;</span><span class="p">:</span> <span class="p">[</span>
        <span class="s2">&quot;Bitstamp&quot;</span><span class="p">,</span>
        <span class="s2">&quot;Btce&quot;</span><span class="p">,</span>
        <span class="s2">&quot;Kraken&quot;</span><span class="p">,</span>
        <span class="s2">&quot;Bitpay&quot;</span>
      <span class="p">],</span>
      <span class="nt">&quot;description&quot;</span><span class="p">:</span> <span class="kc">null</span><span class="p">,</span>
      <span class="nt">&quot;merchant-url&quot;</span><span class="p">:</span> <span class="kc">null</span><span class="p">,</span>
      <span class="nt">&quot;receive-payments-notifications&quot;</span><span class="p">:</span> <span class="kc">false</span><span class="p">,</span>
      <span class="nt">&quot;region&quot;</span><span class="p">:</span> <span class="kc">null</span><span class="p">,</span>
      <span class="nt">&quot;locale&quot;</span><span class="p">:</span> <span class="kc">null</span><span class="p">,</span>
      <span class="nt">&quot;allow-links&quot;</span><span class="p">:</span> <span class="kc">false</span><span class="p">,</span>
      <span class="nt">&quot;back_url&quot;</span><span class="p">:</span> <span class="kc">null</span><span class="p">,</span>
      <span class="nt">&quot;secret&quot;</span><span class="p">:</span> <span class="s2">&quot;34uTGjxSZYReWAPGDimrbqZn3fXujGj_some_random_string&quot;</span><span class="p">,</span>
      <span class="nt">&quot;api-gateway-id&quot;</span><span class="p">:</span> <span class="s2">&quot;c2e3f03_hashed_id_for_gatewa&quot;</span>
    <span class="p">},</span>
    <span class="nt">&quot;links&quot;</span><span class="p">:</span> <span class="p">{</span>
      <span class="nt">&quot;self&quot;</span><span class="p">:</span> <span class="s2">&quot;http://admin.gear.mycelium.com/api/gateways/56&quot;</span>
    <span class="p">}</span>
  <span class="p">}</span>
<span class="p">}</span>
</pre></div>
<p>Additionally it returns a <em>secret</em> key.
Status code is: <strong>201</strong></p>

<h2>Update gateway</h2>

<p>To update a gateway, you need to make a <strong>PATCH</strong> request to <code>/api/gateways</code> with the following body:</p>
<div class="highlight"><pre><span class="p">{</span>
  <span class="nt">&quot;data&quot;</span><span class="p">:</span> <span class="p">{</span>
    <span class="nt">&quot;type&quot;</span><span class="p">:</span> <span class="s2">&quot;gateway&quot;</span><span class="p">,</span>
    <span class="nt">&quot;id&quot;</span><span class="p">:</span> <span class="mi">1</span><span class="p">,</span>
    <span class="nt">&quot;attributes&quot;</span><span class="p">:</span> <span class="p">{</span>
      <span class="nt">&quot;name&quot;</span><span class="p">:</span> <span class="s2">&quot;Production gateways&quot;</span>
    <span class="p">}</span>
  <span class="p">}</span>
<span class="p">}</span>
</pre></div>
<p>where <em>id</em> is an ID of a gateway you want to change.
You can list fields you wish to change under the <em>attributes</em> key. Others fields will not change.</p>

<h2>Get full information about specific gateway</h2>

<p>To get information about a specific gateway, you need to make a <strong>GET</strong> request <code>/api/gateways/{gateway_id}</code>.</p>

<p>In result a response will be:</p>
<div class="highlight"><pre><span class="p">{</span>
  <span class="nt">&quot;data&quot;</span><span class="p">:</span> <span class="p">{</span>
      <span class="nt">&quot;type&quot;</span><span class="p">:</span> <span class="s2">&quot;gateway&quot;</span><span class="p">,</span>
      <span class="nt">&quot;id&quot;</span><span class="p">:</span> <span class="mi">1</span><span class="p">,</span>
      <span class="nt">&quot;attributes&quot;</span><span class="p">:</span> <span class="p">{</span>
        <span class="err">...</span>
      <span class="p">}</span>
    <span class="p">}</span>
<span class="p">}</span>
</pre></div>
<h2>Get gateways list</h2>

<p>To fetch a list of all gateways you need to make a <strong>GET</strong> request to <code>/api/gateways</code> with an empty body.</p>

<p>A response to this request should be the following object:</p>
<div class="highlight"><pre><span class="p">{</span><span class="nt">&quot;data&quot;</span><span class="p">:</span> <span class="p">[</span>
    <span class="p">{</span>
      <span class="nt">&quot;type&quot;</span><span class="p">:</span> <span class="s2">&quot;gateway&quot;</span><span class="p">,</span>
      <span class="nt">&quot;id&quot;</span><span class="p">:</span> <span class="mi">1</span><span class="p">,</span>
      <span class="nt">&quot;attributes&quot;</span><span class="p">:</span> <span class="p">{</span>
        <span class="err">...</span>
      <span class="p">}</span>
    <span class="p">},</span>
    <span class="p">{</span>
      <span class="nt">&quot;type&quot;</span><span class="p">:</span> <span class="s2">&quot;gateway&quot;</span><span class="p">,</span>
      <span class="nt">&quot;id&quot;</span><span class="p">:</span> <span class="mi">2</span><span class="p">,</span>
      <span class="nt">&quot;attributes&quot;</span><span class="p">:</span> <span class="p">{</span>
        <span class="err">...</span>
      <span class="p">}</span>
    <span class="p">}</span>
  <span class="p">]</span>
<span class="p">}</span>
</pre></div>
<p>By default the returned list is limited to 25 records. If you want more, you&#39;ll need to send a query parameter described in <em>Pagination</em> section.</p>

<h3>Pagination</h3>

<p>The strategy is cursor-based. The following options may be passed as query parameters:</p>

<ul>
<li><strong>page[number]</strong> - defines current page.</li>
<li><strong>page[size]</strong> - defines the maximum number of items to be returned in a result. Default is 25.</li>
</ul>

<p>The resulting JSON will contain a <em>meta</em> property with the pagination info:</p>
<div class="highlight"><pre><span class="p">{</span>
  <span class="nt">&quot;meta&quot;</span><span class="p">:</span> <span class="p">{</span>
    <span class="nt">&quot;page&quot;</span><span class="p">:</span> <span class="p">{</span>
      <span class="nt">&quot;number&quot;</span><span class="p">:</span> <span class="mi">1</span><span class="p">,</span>
      <span class="nt">&quot;size&quot;</span><span class="p">:</span> <span class="mi">25</span>
    <span class="p">}</span>
  <span class="p">}</span>
  <span class="s2">&quot;data&quot;</span><span class="p">:</span> <span class="p">{</span>
    <span class="err">...</span>
  <span class="p">}</span>
<span class="p">}</span>
</pre></div>
<p>Example:</p>
<div class="highlight"><pre><span class="nl">https:</span><span class="o">//</span><span class="vg">example</span><span class="o">.</span><span class="vg">com</span><span class="o">/</span><span class="vg">api</span><span class="o">/</span><span class="vg">gateways</span><span class="o">?</span><span class="vg">page</span><span class="p">[</span><span class="vg">number</span><span class="p">]</span><span class="o">=</span><span class="il">1</span><span class="o">&amp;</span><span class="vg">page</span><span class="p">[</span><span class="vg">size</span><span class="p">]</span><span class="o">=</span><span class="il">5</span>
</pre></div>
<p>This will show first 5 gateways.</p>

<h3>Regenerate gateway secret key</h3>

<p>If old secret was compromised or lost it is possible to regenerate a new one.</p>

<p><strong>GET</strong> request to address: <code>api/gateways/{gateways_id}/regenerate_secret</code></p>

<p>The resulting JSON will be like:</p>
<div class="highlight"><pre><span class="p">{</span>
  <span class="nt">&quot;data&quot;</span><span class="p">:</span> <span class="p">{</span>
    <span class="nt">&quot;type&quot;</span><span class="p">:</span> <span class="s2">&quot;gateways&quot;</span><span class="p">,</span>
    <span class="nt">&quot;id&quot;</span><span class="p">:</span> <span class="s2">&quot;1&quot;</span><span class="p">,</span>
    <span class="nt">&quot;attributes&quot;</span><span class="p">:</span> <span class="p">{</span>
      <span class="nt">&quot;secret&quot;</span><span class="p">:</span> <span class="s2">&quot;2dfi349jfj233jjfk3oixc...&quot;</span>
    <span class="p">}</span>
  <span class="p">}</span>
<span class="p">}</span>
</pre></div>
</div>