<div class='pure-u-1-1'>
  <p><%= t("documentation.api.check_order_status.paragraph1") %></p>
  <p><%= t("documentation.api.check_order_status.paragraph2") %></p>
  <div class="highlight"><pre>GET https://admin.skyluster.com/gateways/:api_gateway_id/orders/:payment_id
  </pre></div>
  <p><%= t("documentation.api.check_order_status.paragraph3") %></p>
  <div class="highlight"><pre><span class="p">{</span>
    <span class="nt">&quot;status&quot;</span><span class="p">:</span> <span class="mi">2</span><span class="p">,</span>
    <span class="nt">&quot;amount&quot;</span><span class="p">:</span> <span class="mi">7894000</span><span class="p">,</span>
    <span class="nt">&quot;address&quot;</span><span class="p">:</span> <span class="s2">&quot;1NZov2nm6gRCGW6r4q1qHtxXurrWNpPr1q&quot;</span><span class="p">,</span>
    <span class="nt">&quot;transaction_ids&quot;</span><span class="p">:</span> <span class="p">[</span><span class="s2">&quot;f0f9205e41bf1b79cb7634912e86bb840cedf8b1d108bd2faae1651ca79a5838&quot;</span><span class="p">],</span>
    <span class="nt">&quot;id&quot;</span><span class="p">:</span> <span class="mi">1</span><span class="p">,</span>
    <span class="nt">&quot;payment_id&quot;</span><span class="p">:</span> <span class="s2">&quot;y78033435ea02f024f9abdfd04adabe314a322a0d353c33beb3acb7d97f1bdeb&quot;</span><span class="p">,</span>
    <span class="nt">&quot;amount_in_btc&quot;</span><span class="p">:</span> <span class="s2">&quot;0.07894&quot;</span><span class="p">,</span>
    <span class="nt">&quot;amount_paid_in_btc&quot;</span><span class="p">:</span> <span class="s2">&quot;0.07894&quot;</span><span class="p">,</span>
    <span class="nt">&quot;keychain_id&quot;</span><span class="p">:</span> <span class="mi">3</span><span class="p">,</span>
    <span class="nt">&quot;last_keychain_id&quot;</span><span class="p">:</span> <span class="mi">3</span>
    <span class="p">
    }</span>
  </pre></div>
  <p><%= t("documentation.api.check_order_status.paragraph4") %></p>
</div>