<div class='pure-u-1-1'>
<p><%= t("documentation.api.order_websocket.paragraph1") %></p>
<p><%= t("documentation.api.order_websocket.paragraph2") %></p>

<div class="highlight"><pre>http://gateway.skyluster.com/gateways/:api_gateway_id/orders/1/websocket
</pre></div>
<p><%= t("documentation.api.order_websocket.paragraph3") %></p>
</div>