<div class='pure-u-1-1'>
	<p><%= t("documentation.api.receive_last_keychain.paragraph1") %></p>
<div class="highlight"><pre>GET https://admin.skyluster.com/gateways/:gateway_id/last_keychain_id
</pre></div>
	<p><%= t("documentation.api.receive_last_keychain.paragraph2") %></p>
<div class="highlight"><pre><span class="p">{</span><span class="nt">&quot;gateway_id&quot;</span><span class="p">:</span> <span class="mi">1</span><span class="p">,</span> <span class="nt">&quot;last_keychain_id&quot;</span><span class="p">:</span> <span class="mi">10</span><span class="p">}</span>
</pre></div>
</div>