<div class='pure-u-1-1'>
<p>You can get last keychain id for a specific gateway with the following request:</p>
<div class="highlight"><pre>GET https://gateway.gear.mycelium.com/gateways/:gateway_id/last_keychain_id
</pre></div>
<p>Then you&#39;ll get something like this:</p>
<div class="highlight"><pre><span class="p">{</span><span class="nt">&quot;gateway_id&quot;</span><span class="p">:</span> <span class="mi">1</span><span class="p">,</span> <span class="nt">&quot;last_keychain_id&quot;</span><span class="p">:</span> <span class="mi">10</span><span class="p">}</span>
</pre></div>
</div>