<div class='pure-u-1-1'>
  <p>This documentation is primarily aimed at developers who would like to integrate Bitcoin payment processing into their online store or website. If you are not a developer, but would still like to accept Bitcoin on your site, you can create a simple payment widget instead, using our step-by-step guide.</p>

  <p>Mycelium Gear follows industry standards for processing payments, so if you have ever dealt with integrating any payment gateway (not necessarily a Bitcoin one), you should quickly understand how everything works and what to do. For those who have never worked with payment processing, we are going to explain every detail and demonstrate code examples.</p>

  <p>Mycelium Gear is built using straight and straight-server open source software. You may want to check the documentation for straight-server to better understand the underlying mechanisms, but it is not necessary. Many of the things mentioned in straight-server documentation are also mentioned in the current documentation. </p>

</div>
