<% provide(:title, "Payment Processing")%>

<%= content_for :header  do %>
	<div class='heroContent loaderReveal loaderRevealDelay400 loaderRevealSpeed500'>
		<p>You are not paying for every email you receive or send, <br/>but why are you paying for every cent you receive or send? <br/>They make you think that's the only way it works.</p>
		<p>But technology is here.</p>
		<div class='highlight'>
			<div class='pure-g'>
				<div class='pure-u-1-3'>
					<div class='highlightItem'>
						<div class='highlightTitle'>0%</div>
						<div class='highlightDescription'>Commission</div>
					</div>
				</div>
				<div class='pure-u-1-3'>
					<div class='highlightItem'>
						<div class='highlightTitle'>No</div>
						<div class='highlightDescription'>Censorship</div>
					</div>
				</div>
				<div class='pure-u-1-3'>
					<div class='highlightItem'>
						<div class='highlightTitle'>100%</div>
						<div class='highlightDescription'>Independence</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<% end %>

<div class='mainContent loaderReveal loaderRevealDelay600 loaderRevealSpeed500'>
	<section class='small'>
		<h1 class='contentHeading'>Why do you need Gear?</h1>
		<ul class='points'>
			<li>
				<span>We're no middlemen — money goes from your customer straight into your wallet</span>
			</li>
			<li>
				<span>Depend no more on your payment processor policies</span>
			</li>
			<li>
				<span>Gear has no commission fees, it's FREE of charge</span>
			</li>
			<li>
				<span>Takes literally minutes to set up</span>
			</li>
			<li>
				<span>A payment widget that's a snap to set up, and a sophisticated developer API for advanced users</span>
			</li>
			<li>
				<span>No personal information required, no approvals or KYC/AML</span>
			</li>
			<li>
				<span>The core is opensource!</span>
			</li>
		</ul>
	</section>
	<section class='small'>
		<h2 class='contentHeading'>Benefits for your business</h2>
		<div class='contentTile'>
			<div class='pure-g'>
				<div class='pure-u-1 pure-u-lg-1-3'>
					<div class='contentColumn'>
						<div class='icon'><img src="https://dwsv3vn9of50v.cloudfront.net/assets/payments/direct-849895d827644d661be6d5385c714d839c0d069052a1bf81d5bffd141073375d.svg" alt="Direct 849895d827644d661be6d5385c714d839c0d069052a1bf81d5bffd141073375d" /></div>
						<div class='contentHeading small'>Gear doesn't hold <br>or touch your money</div>
						<p>Mycelium Gear doesn't require merchants to temporarily entrust us the money customers pay for products or services.</p>
						<p>Unlike other bitcoin or credit card payment processors, Mycelium Gear lets your customers send money directly into your wallet controlled by you only. Then it watches the Bitcoin blockchain to detect whether a transaction has been made.</p>
						<p>This was made possible because Gear is built on top of an opensource <a href="https://github.com/MyceliumGear/straight-server" target="_blank">Straight payment processor</a>, which in turn uses <a href="http://bip32.org/" target="_blank">BIP32</a> to generate payment Bitcoin addresses.</p>
					</div>
				</div>
				<div class='pure-u-1 pure-u-lg-1-3'>
					<div class='contentColumn'>
						<div class='icon'><img src="https://dwsv3vn9of50v.cloudfront.net/assets/payments/simple-a37e8069da0d9afac188053d32aca92fa35028795b45a5296e649e9042a9057c.svg" alt="Simple a37e8069da0d9afac188053d32aca92fa35028795b45a5296e649e9042a9057c" /></div>
						<div class='contentHeading small'>Simple widget &amp; <br>expert API</div>
						<p>Whether you're a small online store running on Wordpress or a big online merchant with a custom built software in the backend, Gear provides you with just the right tools that you need to start accepting Bitcoin payments.</p>
						<p>You can start by creating a simple payment widget and installing it to your site following the easy steps in our widget creation Wizard.</p>
						<p>If you decide it's time to go big, you can start reading through our API documentation and integrate large scale Bitcoin payment processing into your custom built backend.</p>
					</div>
				</div>
				<div class='pure-u-1 pure-u-lg-1-3'>
					<div class='contentColumn'>
						<div class='icon'><img src="https://dwsv3vn9of50v.cloudfront.net/assets/payments/security-eb47e7eb2cbe961a7835f654302ab7db32385b92327db0bcc1385651f1b16500.svg" alt="Security eb47e7eb2cbe961a7835f654302ab7db32385b92327db0bcc1385651f1b16500" /></div>
						<div class='contentHeading small'>No <br>AML/KYC?</div>
						<p>Because Gear doesn't hold or even touch the money, we don't need to know any intrusive information about the merchants.</p>
						<p>What Gear provides is a tool to watch the blockchain and detect new transactions at certain addresses. Then interested parties, i.e. merchants, receive a notification from Gear when a payment is made.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
<div class='featuredContent customizeWidget'>
	<section class='medium'>
		<div class='pure-g'>
			<div class='pure-u-1 pure-u-sm-13-24'>
				<div class='customizeWidgetContent'>
					<h2 class='contentHeading'>Customize your <br/>payment widgets.</h2>
					<ul class='points light'>
						<li>
							<span>HTTP callbacks (webhooks) that notify your website when a transaction was made.</span>
						</li>
						<li>
							<span>It will tell you if an order has been overpaid or underpaid (when user sent more money than required or not enough).</span>
						</li>
						<li>
							<span>Automatic currency conversion based on different sources that you can select in the admin-panel.</span>
						</li>
						<li>
							<span>Euro payouts in EU the same day (coming soon)</span>
						</li>
					</ul>
				</div>
			</div>
			<div class='pure-u-1 pure-u-sm-11-24 customizeWidgetThumbnail'>
				<div class='pure-hidden-xxl'><img class="img-responsive" src="https://dwsv3vn9of50v.cloudfront.net/assets/payments/featured_customize_widget_small-dc5414c201872187c5121a643905e3f8962486fe689656b76670de4e565be0d8.png" alt="Featured customize widget small dc5414c201872187c5121a643905e3f8962486fe689656b76670de4e565be0d8" /></div>
			</div>
		</div>
	</section>
</div>