<%= content_for :header do %>
	<div class='heroContent noPadding loaderReveal loaderRevealDelay400 loaderRevealSpeed500'>
		<p>With Mycelium Gear Payroll, you can organize payments to your employees and spend no more than 30 seconds per month doing a tedious job of sending transactions. Everything becomes automated, secure and less error prone.</p>
		<div class='heroImage'><img src="https://dwsv3vn9of50v.cloudfront.net/assets/payroll/hero-fe652f65349f3e2aadc49aead578324b3bbd3486d45ee9378f79ff62b9efa03c.svg" alt="Hero fe652f65349f3e2aadc49aead578324b3bbd3486d45ee9378f79ff62b9efa03c" /></div>
	</div>
<% end %>
<section class='arrow comingSoon loaderReveal loaderRevealDelay600 loaderRevealSpeed500'>
	<img src="https://dwsv3vn9of50v.cloudfront.net/assets/icon-comingsoon-6ee43db1a0447295dee659ee6367767dc9f388be7858418b9cbb8c075b054f15.svg" alt="Icon comingsoon 6ee43db1a0447295dee659ee6367767dc9f388be7858418b9cbb8c075b054f15" />
	<h2>Payroll feature is coming soon!</h2>
	<p>We’ll keep you updated, so stay tuned.</p>
</section>
<div class='mainContent loaderReveal loaderRevealDelay800 loaderRevealSpeed500'>
	<section class='small textLarge'>
		<h1 class='contentHeading'>Why do you need it?</h1>
		<p>Paying your employees is a tedious process: prepare an invoice, check the invoice, input data into your bank’s payment form or your Bitcoin wallet, double check it, make sure they received it. This is unpleasant, long, boring and sometimes leads to mistakes. Gear Payroll solves that and saves you a ton of time.</p>
	</section>
	<section class='small'>
		<h1 class='contentHeading'>How does it work?</h1>
		<p>The process couldn’t be simpler:</p>
		<ol class='points'>
			<li>
				<div class='pointTitle'>Download wallet</div>
				<div class='pointAnswer'>
					<p>You let your employees provide their payment details. They don’t need a Gear account for that. The least they’re going to need is an xpub exported from their Bitcoin wallet.</p>
				</div>
			</li>
			<li>
				<div class='pointTitle'>Use Xpub</div>
				<div class='pointAnswer'>
					<p>Using that xpub, Gear will generate new a payment address every time you want to pay to that employee.</p>
				</div>
			</li>
			<li>
				<div class='pointTitle'>Payment's operation in one click</div>
				<div class='pointAnswer'>
					<p>When you decide to pay to all employees, you’ll see one page with one QR code. Scanning or clicking on it will create a payment request in your wallet - one for all the payments - which you simply approve. It’s a one-click operation which takes literally less than 30 seconds, no matter how many employees there are at your company.</p>
					<p>Gear will also automatically generate all the necessary paperwork if you need it: invoices, receipts, etc. Not you, nor your employees will need to deal with all that manually anymore.</p>
				</div>
			</li>
		</ol>
	</section>
	<section class='small textLarge'>
		<h1 class='contentHeading'>Be in control and manage everything</h1>
		<p>While automating everything, Gear also allows you to see what’s going on with your employees and payments.</p>
		<p>Yes. Mycelium Gear doesn’t hold the funds, it doesn’t store payment passwords or any other critical information. You can even create a contract without signing up with Gear, however for your convenience we recommend you to do so - you will then be able to manage your contracts effectively, track their status and engage easily with other Gear users.</p>
		<ul class='points'>
			<li>
				<span>All transactions are logged.</span>
			</li>
			<li>
				<span>All paperwork is saved and available at any moment.</span>
			</li>
			<li>
				<span>Customize payment periods and payment days for each employee.</span>
			</li>
			<li>
				<span>Receive notifications about the upcoming payments.</span>
			</li>
			<li>
				<span>Choose exchange rate provider and currency for the payments to be fixed in or enter the exchange rate manually.</span>
			</li>
			<li>
				<span>Automatically send email notifications about the payments to your employees.</span>
			</li>
		</ul>
	</section>
</div>

