<div class='page tos'>
	<div class='section'>
		<div class='sectionContent large'>
			<h2>服务条款</h2>
			<ul class='numeric-decimals'>
				<li>
					一般规定
					<ul>
						<li>
							<span>Skyluster控股有限公司（以下简称“Skyluster”）为用户（以下简称“用户”）提供了使用其在线http://admin.skyluster.com/（以下简称“服务”）的服务。</span>
						</li>
						<li>
							<span>通过开始和/或继续使用服务/其各自的功能，用户应被视为完全接受本条款，且不作任何保留和例外。如果用户不接受本条款的任何规定，则用户不得使用本服务。</span>
						</li>
						<li>
							<span>这些条款可能会由管理机构进行修改，无需任何特别的通知;除非条款的修订版本另有规定，否则本条款的修订版本将在以互联网方式发布在本段指定的地址上生效。本术语的最新版本始终在 <a href="/tos">http://admin.skyluster.com/tos</a>上提供。</span>
						</li>
						<li>
							<span>如果用户不按本条款第1.3节规定的方式接受由本协议条款进行的任何修改，用户将停止使用本服务。</span>
						</li>
						<li>
							<span>该服务使用户免费使用一种特殊解决方案，允许用户将任何其他方的比特币直接接收到用户的钱包，并享受任何其他相关的功能功能。本服务的所有现有功能，以及其改进和/或添加新功能都是本条款的主题。</span>
						</li>
					</ul>
				</li>
				<li>
					用户注册
					<ul>
						<li>
							<span>使用本服务，用户应在上述1.1规定的服务网站上注册。为登记目的，用户可以自由选择登录名和密码。Skyluster可能会禁止某些登录，并可能要求登录和密码（长度，可接受的字符等）。</span>
						</li>
						<li>
							<span>用户对所选密码的强度（抵抗力）负全部责任，并保证对其进行保密处理。用户应对用户登录名和密码内或通过服务执行的任何操作（及其后果）负全部责任，用户登录和密码内或通过服务执行的所有操作均由用户视为执行。</span>
						</li>
					</ul>
				</li>
				<li>
					用户机密信息
					<ul>
						<li>
							<span>Skyluster不能收集、处理、保存用户的任何机密信息。</span>
						</li>
					</ul>
				</li>
				<li>
					使用服务
					<ul>
						<li>
							<span>该服务将由用户通过服务Web界面使用，该界面是用户登录到用户登录和密码之前用户可用的服务之间的编程接口。</span>
						</li>
						<li>
							<span>使用本服务时，用户应对本服务内可用功能的描述进行审查，不要使用这些功能，工具和功能，直到完全了解其功能。使用本服务的任何功能和特征将意味着用户了解所执行的操作及其后果的含义，并对所述操作/后果承担全部责任。</span>
						</li>
						<li>
							<span>Skyluster应保留在用户自行决定权限的情况下（或在技术上可能的情况下）通过用户帐户限制用户访问服务（或服务的指定功能），或者在多次违反本条款的情况下阻止用户的帐户，或者采取任何其他措施，反对用户遵守立法要求或第三方权利和合法利益。</span>
						</li>
					</ul>
				</li>
				<li>
					使用条款
					<ul>
						<li>
							<span>用户对其使用本服务的行为应对第三方负全部责任，特别是如果此类行为可能导致侵犯第三方权利和合法利益，并且使用本服务符合法律。</span>
						</li>
						<li>
							<span>用户应自行使用本服务。该服务应按原样提供。Skyluster不承担责任;特别是，Skyluster不负责确保本服务符合用户的目的，并符合用户的期望。</span>
						</li>
						<li>
							<span>Skyluster不保证本服务符合用户要求，并以不间断，及时，可靠，无错误的方式提供;通过使用服务获得的结果将是准确可靠的，可用于任何目的或任何能力（例如，建立和/或确认任何事实）;通过本服务获得的任何产品，服务，信息等的质量将满足用户的期望。</span>
						</li>
						<li>
							<span>由使用本服务或用户本服务的任何组成/功能引起的任何损害，Skyluster不承担任何责任。</span>
						</li>
						<li>
							<span>Skyluster不得参与用户与用户客户之间的计算，所以在任何情况下，Skyluster不对上述人员的财务和其他交易承担任何责任。Skyluster对上述人员提供的数据进行安全和保密处理不负任何责任。</span>
						</li>
					</ul>
				</li>
				<li>
					其他规定
					<ul>
						<li>
							<span>这些条款受塞浦路斯共和国法律的管辖和解释。 任何不受本条款规定的事项，应按照塞浦路斯共和国的法律解决。 根据本条款规定的关系可能产生的任何和所有争议应根据塞浦路斯共和国的有效法律予以解决。 在本条款的全文中，除非另有明确规定，否则“法律”系指塞浦路斯共和国的法律和用户所在国的法律。</span>
						</li>
						<li>
							<span>由于这些条款提供的服务是无偿的，所以法律的消费者权利保护条款可能不适用于用户与Skyluster之间的关系</span>
						</li>
						<li>
							<span>本条款中的任何内容均不得解释为构成本条款中未明确规定的用户和Skyluster代理机构，合伙企业，合资企业，就业机会或任何其他关系。</span>
						</li>
						<li>
							<span>如果本条款的一个或多个条款因任何原因被视为无效或不可执行，则不影响本条款其余条款的有效性和可执行性。</span>
						</li>
						<li>
							<span>如果用户或任何其他用户违反本条款的行为未能采取行动，不得剥夺Skyluster以后采取适当行动保护其利益的权利，并不意味着在任何进一步违规行为时放弃其权利 具有这种或类似的性质。</span>
						</li>
						<li>
							<span>这些条款是用英文提供的，可以提供给用户以不同的语言进行审核。 如果本条款的英文版与其他语言的版本不一致，以英文版本的条款为准。</span>
						</li>
					</ul>
				</li>
			</ul>
			<div class='publication_date'>
				发布日期：
				2017年5月20日
			</div>
		</div>
	</div>
</div>

